

html, body {
  height: 100%;
  margin: 0;

}
html{
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Takes up all the available space */
  padding-top: 200px;
}

.grid-homepage {
  display: flex;
  gap: 20px;
  color: white;
}

.shop-now {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 250px;
}

.shop-now .button {
  background-color: #d9d9d9;
  padding: 7px 15px;
  border-radius: 10px;
}

.shop-now:hover {
  transform: translateY(-5px);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction h1 {
  font-size: 100px;
  font-weight: 500;
}

.introduction #jm {
  color: var(--primary-color);
  padding: 0 10px;
  border-radius: 40px;
}


/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

footer p {
  font-size: 14px;
  margin: 0;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

